.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
Prac1_data/*
prac2_data/*
prac3_data/*
prac4_data/*
prac5_data/*
prac6_data/*
prac7_data/Lsatdata/*
prac7_data/exampleGoogleDrivedata/*
prac7_data/Manchester_boundary/*
prac8_data/New_ward_data/*
prac9_data/*
prac10_data/*
/prac10_data/geofabrik/*
/PUBLISHEXAMPLE/*
/GITEXAMPLE/*
packrat/lib*/
AdamShiny/*
_bookdown_files/*
old_files/*
prac1_images/*
prac2_images/*
prac3_images/*
prac4_images/*
prac5_images/*
prac6_images/*
prac7_images/*
prac8_images/*
prac9_images/*
prac10_images/*
allisonhorst_images/*
Weekly_tasks/*