.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
Prac1_data/*
prac2_data/*
prac3_data/*
prac4_data/*
prac5_data/*
prac6_data/*
prac7_data/Lsatdata/*
prac7_data/Lower_Super_Output_Area_(LSOA)_IMD2019__(WGS84)-shp.zip
prac7_data/Lower_Super_Output_Area_(LSOA)_IMD2019__(WGS84)-shp
prac7_data/greater-manchester-latest-free.shp.zip
prac7_data/greater-manchester-latest-free.shp
prac7_data/MSOA_EngWal_Dec_2011_Generalised_ClippedEW_0.zip
prac7_data/MSOA_EngWal_Dec_2011_Generalised_ClippedEW_0
prac7_data/exampleGoogleDrivedata/*
prac7_data/Manchester_boundary/*
prac8_data/New_ward_data/*
prac9_data/*
prac10_data/*
/prac10_data/geofabrik/*
/PUBLISHEXAMPLE/*
/GITEXAMPLE/*
packrat/lib*/
AdamShiny/*
_bookdown_files/*
old_files/*
old_pracs/*
old_pracs/prac10_data/*
prac1_images/*
prac2_images/*
prac3_images/*
prac4_images/*
prac5_images/*
prac6_images/*
prac7_images/*
prac8_images/*
prac9_images/*
prac10_images/*
allisonhorst_images/*
Weekly_tasks/*