.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
prac1_data/*
prac2_data/*
prac3_data/*
prac4_data/*
prac5_data/*
prac6_data/*
prac7_data/*
prac8_data/*
prac8_data_old/*
prac9_data_old/*
prac8_images_old/*
prac9_images_old/*
prac10_data_old/*
/prac10_data/geofabrik/*
/PUBLISHEXAMPLE/*
/GITEXAMPLE/*
packrat/lib*/
AdamShiny/*
_bookdown_files/*
old_files/*
old_pracs/*
old_pracs/prac10_data/*
prac1_images/*
prac2_images/*
prac3_images/*
prac4_images/*
prac5_images/*
prac6_images/*
prac7_images/*
prac8_images/*
prac8_images_old/*
prac9_images_old/*
prac10_images_old/*
allisonhorst_images/*
Weekly_tasks/*